# =========================
# Unity generated folders
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
*.swp
*.tmp

# =========================
# IDE files
# =========================
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.slnx
# =========================
# Unity meta cache
# =========================
*.pidb
*.booproj

# =========================
# Crash reports
# =========================
crashlytics-build.properties


